<section class="hero">
  <div class="container">
    <div class="hero-container">
      <div class="hero-content">
        <h1 *ngIf="title" class="hero__title">
          {{ title }}
          <span *ngIf="titleOrange" class="hero__title_orange">
            {{ titleOrange }}
          </span>
        </h1>
        <ul class="hero-offers-list" *ngIf="offers.length">
          <li class="hero__offer" *ngFor="let offer of offers">
            <img
              [src]="'./assets/images/' + offer.image + '.png'"
              alt="Изображение предложения"
              class="hero__offer-image"
            />
            <div class="hero__offer-info">
              <h2 class="hero__offer-title">{{ offer.title }}</h2>
              <p class="hero__offer-description">
                {{ offer.description }}
              </p>
            </div>
          </li>
        </ul>
        <app-button [title]="'Выбрать пиццу'"></app-button>
      </div>
      <img
        src="./assets/images/pizza_big.png"
        width="520"
        height="342"
        alt="Изображение пиццы"
        class="hero__image"
      />
    </div>
  </div>
</section>
