<div class="footer-info">
  <h2 class="footer-info__title">
    <span class="footer-info__title_orange"> Хватит думать! </span>
    <br />
    Доставим заказ за 30 минут!
  </h2>
  <p class="footer-info__description">
    Мы гарантированно доставим вашу пиццу за 30 минут с момента оформления
    заказа. Если мы опоздаем даже на 1 минуту - вы получаете весь заказ
    бесплатно и ваучер на скидку на следующий заказ. Мы гордимся нашим сервисом
    и сделаем всё, чтобы наш клиент был доволен и не остался голодный!
  </p>
</div>
